{{!-- <div id="signup" style="display: block; position: fixed; opacity: 1; z-index: 11000; left: 50%; margin-left: -202px; top: 100px;">
  <div id="signup-ct">
    <div id="signup-header">
      <h2>Create a new payment</h2>
      <a class="modal_close" {{action 'close'}}>x</a>
    </div>

    <form action="">
      <div class="txt-fld">
        <label for="">Email</label>
        <input id="" class="good_input" name="" type="text">
      </div>
      <div class="txt-fld">
        <label for="">Amount</label>
        <input id="" name="" type="text">
      </div>
      <div class="txt-fld">
        <label for="">Contact</label>
        <input id="" name="" type="text">
      </div>
      <div class="txt-fld">
        <label for="">Date</label>
        <input id="" name="" type="text">
      </div>
      <div class="btn-fld">
        <button type="submit">Submit »</button>
      </div>
    </form>
  </div>
</div> --}}
{{partial 'payments/form'}}
