<div class="tabbar" id="ht123lsz">
  {{#link-to 'dashboard' classNames="button"}}<label>Home</label>{{/link-to}}
  {{#link-to 'contacts.index' classNames="button"}}<label>Contacts</label>{{/link-to}}
  {{#link-to 'calendar' classNames="button"}}<label>Canlendar</label>{{/link-to}}
  {{#link-to 'payments.new' classNames="button"}}<label>Schedule</label>{{/link-to}}
</div>

